{% extends "base.html" %}

{% block about %}
<li class="active">
  <a class="page-scroll" href="/about">About</a>
</li>
{% endblock %}

{% block page_data %}
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About Motel</h2>
      <p>MOTEL — лаундж-бар от создателей Mendeleev и Rolling Stone Bar — расположился в московском особняке XIX века на Цветном бульваре.</p>
      <p>Пешеходный лаундж MOTEL предполагает побег от реальности и «сruising» — расслабленное движение по этажам и комнатам.</p>
      <h3>Первый этаж</h3>
      <p>Первый этаж представяет собой лобби со стойкой респешн и вендинговым аппаратом с коктейлями от заведения, бильярднуб и зону Flamingo Lounge.</p>
      <div class="col-md-6">
        <img src="/static/img/about/Reception, 1st Floor.png" width=350 class="about-img"></img>
      </div>
      <div class="col-md-6">
        <img src="/static/img/about/Lobby zone,1st Floor.png" width=350 class="about-img"></img>
      </div>
      <h3>Flamingo Lounge</h3>
      <p>Flamingo Lounge — аперитив-бар, в котором представлена классика отельной барной культуры в духе американских лобби середины прошлого столетия.</p>
      <div class="col-md-12">
        <img src="/static/img/about/Flamingo Lounge, 1st floor.png" width=350 class="about-img"></img>
      </div>
      <h3>Второй этаж</h3>
      <p>На втором этаже расположены комнаты – "номера", main bar, tiki bar.</p>
      <div class="col-md-6">
        <img src="/static/img/about/Room, 2nd Floor.png" width=350 class="about-img"></img>
      </div>
      <div class="col-md-6">
        <img src="/static/img/about/room with pink bed, 2nd floor.png" width=350 class="about-img"></img>
      </div>
      <h3>Tiki Bar</h3>
      <p>В барной карте tiki собраны тропические коктейли ос всего мира — от Гонолулу до Лас-Вегаса.</p>
      <div class="col-md-6">
        <img src="/static/img/about/Main Bar, 2nd Floor.png" width=350 class="about-img"></img>
      </div>
      <div class="col-md-6">
        <img src="/static/img/about/Tiki Bar, 2nd Floor.png" width=350 class="about-img"></img>
      </div>
      <p>Винтажная музыка от лучших коллекционеров винила, записанного в 50–80х годах.</p>
      <!-- <p>Дополнительная информация:Из истории здания: особняк Московского общества гимнастов построен в 1887 году по проекту архитектора Бориса ФрейденбергаЗаведение открыло свои двери в конце декабря 2015 Создатель проекта—Игорь Ланцман (Rolling Stone Bar, Kaffka, Mendeleev Bar).Цены на коктейли варьируются от 550 до 700 рублейУже зимой заработает собственная кухня и появится расширенное меню закусок в формате room service</p> -->
    </div>
  </div>
</section>
{% endblock %}