{% extends "base.html" %}

{% block contact %}
<li class="active">
  <a class="page-scroll" href="/contact">Contact</a>
</li>
{% endblock %}

{% block page_data %}
<section id="contacts" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>M O T E L</h2>
      <p>Мы открыты с четверга по субботу с 20:00 до 6:00.</p>
      <p>Tsventoy bulvar, 5</p>
      <p>+7 499 290 01 71</p>
      <p>motel.msc@gmail.com</p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://www.facebook.com/motel.moscow" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="https://www.instagram.com/motel_msc/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Map Section -->
<div id="map"></div>
{% endblock %}