{% extends "base.html" %}

{% block press %}
<li class="active">
  <a class="page-scroll" href="/press">Press</a>
</li>
{% endblock %}

{% block page_data %}
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
      <h2>Партнеры</h2>
      <div class="col-lg-8 col-lg-offset-2">
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/esquire-logo_0.png" width="200"></p>
          </div>
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/GQ_logo.png" width="200"></p>
          </div>
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/grazia-logo_0.png" width="200"></p>
          </div>
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/instyle-logo_0.png" width="200"></p>
          </div>
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/Men_s_Health_logo_black.png" width="200"></p>
          </div>
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/interview-logo.png" width="200"></p>
          </div>
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/vogue-logo_0.png" width="200"></p>
          </div>
          <div class="col-lg-6 col-sm-6">
              <p><img class="intro-image" src="/static/img/logo/wedding-logo.png" width="200"></p>
          </div>
      </div>
  </div>
</section>
{% endblock %}